.note-card {
    background-color: #384754;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
}

.note-card input[type=text] {
    background-color: #5c7d9ac2;
    color: #ffffff;
    font-weight: bold;
}
.note-card textarea {
    background: #5c7d9ac2;
    color: #ffffff;
}

.btn-note {
    background-color: #0f151f;
    border-color: #6daeb1;
    color: #ffffff;
}