body {
    background-color: #1c2023 !important;
    background-size: 300% 300%;
  }
  
.notes-list li{
    background-color: #5c7d9ac2;
    color: aliceblue;
}

.notes-list li:hover{
    background-color: #1c2023;
    color: aliceblue;
}
